.white-square {
    -fx-background-color: #dcd1ca;
}

.black-square {
    -fx-background-color: rgba(238, 117, 40, 0.58);
}

.red-piece {
    -fx-background-image: url("/rewrite/RedCheckers.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.highlighted-white {
    -fx-background-color: red;
}